@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

@import "tailwindcss";

@utility container {
  padding: 20px;
  max-width: 1280px;
  margin: auto;
}

@theme {
  --color-white: #fff;
  --color-black: #000000;
  --color-lila: #746AEE;
  --color-melon-darker: #EFA7A7;
  --color-melon: #FCBCB8;
  --color-jasmine: #FFD972;
  --color-celadon: #A7E8BD;
  --color-mint: #C7EAE4;
  --color-smoke: #FAF8F8;

  /* darker */
  --color-lila-darker: #5C5CD6;       
  --color-melon-2xdarker: #D98C8C; 
  --color-melon-1xdarker: #E5A5A1;     
  --color-jasmine-darker: #E6B850;     
  --color-celadon-darker: #85C89D;  
  --color-mint-darker: #A5D1CB; 

  --font-inconsolata: "Inconsolata", serif;
  --font-press-start-2p: "Press Start 2P", serif;
  --font-vtv23: "VT323", serif;
  --font-oxanium: "Oxanium", serif;
}

/* Backgrounds */
.bg-white {
  background-color: var(--color-white)
}

.bg-black {
  background-color: var(--color-black)
}

.bg-lila {
  background-color: var(--color-lila)
}

.bg-melon-darker {
  background-color: var(--color-melon-darker)
}

.bg-melon {
  background-color: var(--color-melon)
}

.bg-jasmine {
  background-color: var(--color-jasmine)
}

.bg-celadon {
  background-color: var(--color-celadon)
}

.bg-mint {
  background-color: var(--color-mint)
}

.bg-smoke {
  background-color: var(--color-smoke)
}

/* bg darker */

.bg-lila-darker {
  background-color: var(--color-lila-darker)
}
  
.bg-melon-2xdarker {
  background-color: var(--color-melon-2xdarker)
}
  
.bg-melon-1xdarker {
  background-color: var(--color-melon-1xdarker)
}
  
.bg-jasmine-darker {
  background-color: var(--color-jasmine-darker)
}
  
.bg-celadon-darker {
  background-color: var(--color-celadon-darker)
}
  
.bg-mint-darker {
  background-color: var(--color-mint-darker)
}



/* Color text */
.text-melon-darker {
  color: var(--color-melon-1xdarker);
}
.text-lila {
  color: var(--color-lila);
}
.text-melon {
  color: var(--color-melon);
}
.text-jasmine {
  color: var(--color-jasmine);
}
.text-celadon {
  color: var(--color-celadon);
}
.text-mint {
  color: var(--color-mint);
}

/* Color text -darker */
.text-mint-darker {
  color: var(--color-mint-darker);
}



/* Font Family */
.font-inconsolata {
  font-family: var(--font-inconsolata);
}

.font-press-start-2p {
  font-family: var(--font-press-start-2p);
}

.font-space-grotesk {
  font-family: var(--font-vtv23);
}

.font-oxanium {
  font-family: var(--font-oxanium);
}

/* text borders */
.text-3d {
  text-shadow: 
    4px 4px 0 #000,
    3px 0px 0 #000,
    0px 3px 0 #000;
}

.text-border {
  text-shadow: 
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0px 2px 0 #000,
    2px 0px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000;
}

